{:paths ["src"]
 :deps {}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {clojure.java-time/clojure.java-time {:mvn/version "1.3.0"}
                      com.xtdb/xtdb-core {:mvn/version "1.23.2"}
                      lambdaisland/kaocha {:mvn/version "1.70.1086"}
                      org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
         :main-opts ["-m" "kaocha.runner"]}
  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.2"
                                                   :git/sha "0ffdb4c"
                                                   :exclusions [org.slf4j/slf4j-api
                                                                ch.qos.logback/logback-classic]}
                 org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
          :ns-default build}
  ;; XTDB versions to test against
  :1.22 {:override-deps {com.xtdb/xtdb-core {:mvn/version "1.22.1"}}}
  :1.23 {:override-deps {com.xtdb/xtdb-core {:mvn/version "1.23.2"}}}
  :1.24 {:override-deps {com.xtdb/xtdb-core {:mvn/version "1.24.1"}}}}}
